.projectContainer {
	height: 300px;
	width: 300px;

	position: absolute;
	border-radius: 20px;

	background-size: cover;
}

.project1 {
	top: 30px;
	left: 25px;

	background-image: url("../img/buttonmasher.png");
}

.project2 {
	top: 30px;
	left: 350px;

	background-image: url("../img/TicTacoToe.png");

}

.project3 {
	top: 30px;
	left: 675px;

}
