body {
	font-family: helvetica;
	background-color: #f9f8eb

}

.buttonContainer > p {

	color: #504940;
	margin-top: -15px;
	margin-bottom: 20px;
}

.gameTitle {
	color: #635b52;
}

.wrongCode {
	color: red;
}


.testButton {

	background: #eaded2;
	color: #635b52;

	height: 70px;
	width: 70px;

	border: 5px solid green;
	border-radius: 5px;

	padding: 5px;
	margin: 0 10px 0 10px;
	position: absolute;

	top: 110px;

}

.testButton_1 {
	border-color: #f1462d;
	left: 10px;
}
.testButton_2 {
	border-color: #f1644d;
	left: 106px;
}
.testButton_3 {
	border-color: #f18152;
	left: 203px;
}
.testButton_4 {
	border-color: #e8bd3f;
	left: 300px;
}


.buttonContainer {

	width: 400px;
	height: 200px;


	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -325px;

	text-align: center;
	background-color: #c1b3a4;
	border-radius: 10px;
}

.numberDisplay {

	width: 200px;
	height: 100px;

	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: 125px;

	padding: 50px 0 ;

	text-align: center;
	font-size: 70px;

	color: #504940;
	background-color: #c1b3a4;
	border-radius: 10px;

}


.secretImage {
	
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -325px;

	width: 400px;
	height: 400px;

	
	background-color: #c1b3a4;
	border-radius: 10px;
}

.codeCrackedMessage {
	width: 360px;
	height: 250px;

	position: absolute;
	top: 125px;
	left: 20px;
	background-color: #ad9d8f;
	border-radius: 10px;


}
.codeCrackedMessage > h2 {
	text-align: center;
	font-size: 30px;
	color: green;
}

.codeCrackedMessage > p {
	text-align: center;
	margin-top: -10px;


}

.wrongCode {
	color: #e3161a;
	text-align: center;
}

.wrongCode > h2 {
	 font-size: 30px;
}

.info {

	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: 125px;

	width: 200px;
	height: 400px;	

	background-color: #c1b3a4;
	border-radius: 10px;

	text-align: center;
	color:#504940;
	
}

.infoTitle {
	font-size: 26px;
}

.info > p {

	margin-top: -20px;
}



.codepad {
	position: absolute;
	top: 320px;
	left: 50%;
	margin-left: -305px;

	width: 360px;
	height: 86px;

	
	background-color: #ad9d8f;
	border-radius: 10px;
}


.enteredCodeDisplay_1 {
	background-color: rgb(255, 255, 255);
	height: 70px;
	width: 70px;

	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 5px;
}

.enteredCodeDisplay_2 {
	background-color: rgb(255, 255, 255);
	height: 70px;
	width: 70px;

	position: absolute;
	top: 8px;
	left: 100px;
	border-radius: 5px;
}

.enteredCodeDisplay_3 {
	background-color: rgb(255, 255, 255);
	height: 70px;
	width: 70px;

	position: absolute;
	top: 8px;
	left: 191px;
	border-radius: 5px;
}

.enteredCodeDisplay_4 {
	background-color: rgb(255, 255, 255);
	height: 70px;
	width: 70px;

	position: absolute;
	top: 8px;
	left: 283px;
	border-radius: 5px;
}








