
/*
Comments made using http://patorjk.com/software/taag/#p=display&f=Banner3&t=global

 ######   ##        #######  ########     ###    ##       
##    ##  ##       ##     ## ##     ##   ## ##   ##       
##        ##       ##     ## ##     ##  ##   ##  ##       
##   #### ##       ##     ## ########  ##     ## ##       
##    ##  ##       ##     ## ##     ## ######### ##       
##    ##  ##       ##     ## ##     ## ##     ## ##       
 ######   ########  #######  ########  ##     ## ######## 
 */
* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   	font-weight: bold;
   	color: 404040;
}

/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
 */
.header {
	width: 1000px;
	height: 80px;

	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -500px;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 8px solid black;

	background: #024959;
}
.websitelogo {
	position: absolute;
	top: 15px;
	left: 5px;
}

.navButton {
	width: 180px;

	position: absolute;
	top: 15px;
	margin: 0;

	padding-top: 6px;
	padding-bottom: 6px;

	font-size: 30px;
	font-weight: bold;
	text-align: center;

	border-radius: 5px;
	color: white;
	background-color: rgba(255, 255, 255, 0.4);


	text-replace: none;
	transition: 0.5s background-color;
}

.navButton:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.nv1 {
	left: 190px;
}
.nv2 {
	left: 385px;
}
.nv3 {
	left: 580px;
}
.nv4 {
	left: 775px;
}


/*
 ######   #######  ##    ## ######## ######## ##    ## ######## 
##    ## ##     ## ###   ##    ##    ##       ###   ##    ##    
##       ##     ## ####  ##    ##    ##       ####  ##    ##    
##       ##     ## ## ## ##    ##    ######   ## ## ##    ##    
##       ##     ## ##  ####    ##    ##       ##  ####    ##    
##    ## ##     ## ##   ###    ##    ##       ##   ###    ##    
 ######   #######  ##    ##    ##    ######## ##    ##    ##    
*/
.content {
	width: 960px;
	height: 760px;

	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -500px;
	z-index: -1;

	padding: 20px;

	background-color: #F8F6E7;
}



/*
 ######   #######   ######  ####    ###    ##       
##    ## ##     ## ##    ##  ##    ## ##   ##       
##       ##     ## ##        ##   ##   ##  ##       
 ######  ##     ## ##        ##  ##     ## ##       
      ## ##     ## ##        ##  ######### ##       
##    ## ##     ## ##    ##  ##  ##     ## ##       
 ######   #######   ######  #### ##     ## ######## 
*/
.socialButton {
	height: 80px;
	width: 240px;

	position: absolute;

	top: 600px;
	left: 70px;

	border-radius: 10px;
/*	border-bottom: 5px black;
*/

	transition: 0.55s all;

	color: white;
	background-color: #CD4939;
}

.socialButton > p {
	position: absolute;
	top: -8px;
	left: 90px;

	font-size: 30px;
	padding-top: -25px;
}

.twitter {
	background-color: #55ACEE;
}

.twitter > p {
	left: 75px;
}

.twitter > img {
	height: 50px;
	width:60px;

	position: absolute;
	top: 15px;
	left: 10px;
}

.facebook {
	background-color: #3B5998;
	left: 380px;
}

.facebook > img {
	height: 100px;
	width: 100px;

	position: absolute;
	left: -10px;
}

.facebook > p {
	left: 80px;
}
.github {
	left: 690px;
}

.github > img {
	height: 90px;
	width: 90px;
}


h2 {
	color:#F24C27;
	font-weight: bold;
}

/*
########  ########   #######        ## ########  ######  ######## 
##     ## ##     ## ##     ##       ## ##       ##    ##    ##    
##     ## ##     ## ##     ##       ## ##       ##          ##    
########  ########  ##     ##       ## ######   ##          ##    
##        ##   ##   ##     ## ##    ## ##       ##          ##    
##        ##    ##  ##     ## ##    ## ##       ##    ##    ##    
##        ##     ##  #######   ######  ########  ######     ##   
 */

.project {
	text-align: center;
}



/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
 */
.footer {
	width: 1000px;
	height: 90px;

	position:absolute;
	top: 900px;
	left: 50%;
	margin-left: -500px;
	margin-bottom: 20px;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	background-color: #037E8C;

	text-align: center;
	color: white;
}
