#container {
    max-width: 800px;
    margin: 0 auto;
}


header {
    padding-top: 10px;
}

header #name {
    height: 80px;

    padding-top: 10px;


    font-size: 60px;
    font-family: "Helvetica Neue", Helvetica, serif;

    text-align: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    color: white;
    background-color: #659678;
}

header #navbar {
    height: 30px;


    color: white;
    background-color: #4D7656;
}

header #navbar li {

    width: 49%;

    display: inline-block;

    padding-top: 5px;

    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, serif;

    text-align: center;
}

#content {
    width:  auto;
    height: 500px;

    margin: 0 auto;
    padding: 10px;

    font-family: Helvetica;

    color: black;
    background-color: #F0EFDD;
}