$color1 : #659678;
$color1-intense : #4D7656;
$color2 : #C0B693;
$color2-intense : #595345;
$color-background : #F0EFDD;

$font-basic : "Helvetica Neue", Helvetica, Arial, "Lucida Grande", serif;

$site-border-radius : 10px;

$footer-height : 80px;

body {
  -webkit-font-smoothing: antialiased;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}


header {
  padding-top: 10px;

  #name {
    height: 50px;

    padding: 10px;

    text-align: center;

    border-top-left-radius: $site-border-radius;
    border-top-right-radius: $site-border-radius;

    color: white;
    background-color: $color1;

    h1 {


      float: left;
      margin-right: 50px;

      font-size: 50px;
      font-family: $font-basic;
    }
  }

  img {
    height: 50px;
    width: 50px;
    float: right;
  }

  #navbar {
    height: auto;

    color: white;
    background-color: $color1-intense;

    ul {
      text-align: center;

      li {
        height: 100%;
        width: 49%;

        display: inline-block;

        padding: 5px 0 5px 0;

        font-size: 20px;
        font-family: $font-basic;

        text-align: center;

        transition: background-color 0.5s;

      }

      li:hover {
        background-color: $color1;
      }

      #currentTab {
        background-color: $color1;
      }

      a {
        text-decoration: none;
        color: white;
      }

      a:visited {
        text-decoration: none;
        color: white;
      }
    }
  }
}

footer {
  width: 100%;
  height: $footer-height;

  border-bottom-left-radius: $site-border-radius;
  border-bottom-right-radius: $site-border-radius;

  background-color: $color2-intense;

  p {
    text-align: center;
    font-family: $font-basic;

    vertical-align: center;
    line-height: $footer-height;

    margin: 0;
    color: $color2;

    a {
      color: $color2;
      text-decoration: none;
    }
  }
}


@media screen and  (max-width: 800px) {
  header {
    padding-top: 0;

    #name {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      h1 {
        margin-top: 5px;

        font-size: 40px;
      }
    }
  }
}


#content {
  width:  auto;
  height: 500px;

  margin: 0 auto;
  padding: 10px;

  font-family: $font-basic;

  color: #695f4e;
  background-color: #F0EFDD;
}

h2 {

  margin-top: 10px;

  font-size: 20px;
  font-weight: bold;
}

p {
  margin-top: 10px;
}