body {
    background-color: #F0EFDD;
}

header {
    max-width: 800px;

    margin: 0 auto;

}

header #name {
    height: 100px;

    font-family: "Helvetica Neue", Helvetica, serif;

    color: white;
    background-color: #659678;
}