h1  {
    color:Gray;
    font-family: Arial;
}

#current_tab {
    border:inset #B0C4DE;
    background-color: #778899;
    border-radius:0;
    height:25px;
    width:100px;
    text-align:center;
    display:inline-block;
}

    
.datum {
    font-size: 22px;
    
    
}



.knopframe {
    border:outset #778899;
    background-color:#B0C4DE;
    border-radius:0;
    height:25px;
    width:100px;
    text-align:center;
    margin: 0 0 0 0;
    display: inline-block;
}

.knopframe:hover {
    border:inset #B0C4DE;
    background-color: #778899;
    border-radius:0;
    height:25px;
    width:100px;
    text-align:center;
    display: inline-block;
    
}

.text {
    display: block;
}

.knoplink {
    text-decoration: none;
    color:#2F4F4F;
}


body {
    background-color: #D3D3D3;
}
