/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/
#header, #footer {
    float:left;
    padding:15px 0;
    min-width:100%;
}

#header {
    background:rgb(224, 138, 52);
}

#header a {
    color:rgb(52, 171, 224);
}

#header, .quotes {
    background:rgb(52, 171, 224);
}


#header .logo {
    float:left;
    width:144px;
}

#header p {
    float:right;
    width:400px;
    margin:0;
}
/*
########   #######  ########  ##    ## 
##     ## ##     ## ##     ##  ##  ##  
##     ## ##     ## ##     ##   ####   
########  ##     ## ##     ##    ##    
##     ## ##     ## ##     ##    ##    
##     ## ##     ## ##     ##    ##    
########   #######  ########     ##    
*/
body {
    background-color: rgb(192, 195, 163);
    color:#fff;
    font:13px Helvetica,  Arial,  sans-serif
}

#content {
    padding:15px 0;
    clear:both;
    color:gray;
}

.wrap {
    margin:0 auto;
    width:950px;
}

/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/
#footer {
    background:#333;
    text-align:center;
    /* Maak de onderstaande 2 regels een comment zodat de footer niet meer aan de onderkant van de pagina staat 
    position:fixed;
    bottom:0; */
}

#footer a {
    color:#fff;
}
/*
########  ##     ## ######## ########  #######  ##    ## 
##     ## ##     ##    ##       ##    ##     ## ###   ## 
##     ## ##     ##    ##       ##    ##     ## ####  ## 
########  ##     ##    ##       ##    ##     ## ## ## ## 
##     ## ##     ##    ##       ##    ##     ## ##  #### 
##     ## ##     ##    ##       ##    ##     ## ##   ### 
########   #######     ##       ##     #######  ##    ## 
*/

.button {

/*border:outset #778899;*/
background-color:rgb(255, 255, 255);
border-radius:5px;
height:36px;
width:125px;
text-align:center;
margin: 0 0 0 0;
display: inline-block;
text-decoration: none;
font-size:24px;
font-weight:bold;
font-family:Arial;
color:#fff;
    
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
      
}
.button:hover {
    background-color: #d6d0d0;
    border-radius:10px;
    text-align:center;
    display: inline-block;
    
}
/*
########  #######  ##    ## ########  ######  
##       ##     ## ###   ##    ##    ##    ## 
##       ##     ## ####  ##    ##    ##       
######   ##     ## ## ## ##    ##     ######  
##       ##     ## ##  ####    ##          ## 
##       ##     ## ##   ###    ##    ##    ## 
##        #######  ##    ##    ##     ######  
*/
* {
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
    
}

h1  {
    color:Gray;
    font-family: Helvetica,  Arial;
}
 
.datum {
    font-size: 22px;
}